{% extends 'index.html' %}

{% block content %}
<h3 class="text-muted">Add student</h3>


<form action="/selectsudent" method="POST">
<div class="form-group">
 
    <input type="text" name = "branch" class="form-control form-control-1 input-sm from" placeholder="Branch (first_year_)">
    <br>
    <input type="text" name = "num" class="form-control form-control-1 input-sm from" placeholder="Enter the number of students">
</div>
<button type="submit" class="btn btn-warning">Submit</button>

</form>

{% endblock %}